body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 80px;
    margin-top: 10px;
}

.burger {
    display: none;
}

.burger div {
    background-color: #fff;
    width: 27px;
    height: 5px;
    margin: 5px;
    border-radius: 20%;
}

.HomeList {
    display: flex;
    align-items: center;
}

.HomeList li {
    padding: 0 40px;
}

.HomeList li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: bold;
    line-height: 40px;
    color: #FDF7FA;
    font-weight: 500;
    transition: color 300ms linear;
}

.HomeList li a::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -8px;
    width: 0%;
    height: 3px;
    border-radius: 5%;
    transition: width 250ms ease-in-out;
}

.HomeList li a:hover::after {
    width: 100%;
}

.HomeList li a:hover {
    color: rgba(27, 38, 59, 0.4);
}


/* SLOGAN */

.slogan {
    color: #D6001C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
}

.slogan-sub {
    color: #1D1D1D;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.slogan2 {
    color: #1D1D1D;
    font-weight: 400;
}

.slogan-gamer {
    color: #D6001C;
    font-weight: 900;
}

.image-rhino img {
    background-size: cover;
    width: 100%;
    height: 100%;
}
 

/* SLIDE */
.wrapper-slide{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 5px 22px -4px rgba(0,0,0,0.88);
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 800px;
  }
  
 
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: red;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
    
  }
  
  /*=============================== PARTICULARS ANIMATION  ============================*/ 
  .wrapper {
      max-width: 900px;
      margin: 0 auto;
      color: #fff;
      
  }
  .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 20px;
      font-family: 'Poppins' , sans-serif;
  }
 .particulars {
    background-color: #141212;
    padding-top: 40px;
 }
 .design {
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1;
    
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    
 }
 .design-title{
     text-align: center;
     font-size: 30px;
     line-height: 40px;
 }
 .design-content{
    line-height: 30px;
    text-align: center; 
    font-size: 18px;
    font-weight: normal;
    }
    .structure {
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1;
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;
     
    }
    .structure-title{
        font-size: 30px;
        padding: 15px 0;
        text-align: center;
    }
    .structure-content , .structure-content2{
        font-weight: normal;
    }
    .frog{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432)1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;
    }
    .frog-title{
    font-size: 30px;
    padding: 15px 0 ;
    text-align: center;
    }
    .frog-content{
        font-weight: normal;
    }
    .wheel{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;
    }
    .wheel-title{
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
    }
    .wheel-content{
        font-weight: normal;
    }
    .base{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;
    }
    .base-title{
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
    }
    .base-content{
        font-weight: normal;
    }
    .pillow{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;
    }
    .pillow-title{
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
    }
    .pillow-content{
        font-weight: normal;
    }
    .recline{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;   
    }
    .recline-title{
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
    }
    .recline-content{
        font-weight: normal;
    }
    .warranty{
    border: 3px solid;    
    border-image: linear-gradient(to left, #240b36, #c31432) 1; 
    padding: 40px;
    border-radius: 10px;
    font-weight: bold;
    line-height: 30px;   
    }
    .warranty-title{
        font-size: 30px;
        text-align: center;
        padding: 15px 0;
    }
    .warranty-content{
        font-weight: normal;
    }

    [data-anime]{
      opacity: 0;
      transition: 1s ;
    }
    [data-anime="left"]{
      transform: translate3d(-50%, 0, 0);
    }
    [data-anime="right"]{
      transform: translate3d(50%, 0, 0);
    }
    [data-anime].animate{
      opacity: 1;
      transform: translate3d(0px,0px,0px);
    }
/*=============================== END PARTICULAR ANIMATION ===============================*/

/* FOOTER RESPONSIVE */

footer{
  position: relative;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
  line-height: 25px;
}
.left .content .social{
  margin: 20px 0 0 0;
  
}
.left .content .social a{
  padding: 0 2px;
  color: #d9d9d9;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #d9d9d9;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input {
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
  color: #fff;
}
.arrow {
 width: 64px;
 height: 64px;
 position: relative; 
}
.arrow a {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-image: url(/img-rhino/angulo-da-seta-para-cima.png);
  background-color: #fff;
  border-radius:10px;
  background-repeat: no-repeat;
  text-indent: -99999px;
  width: 64px;
  height: 64px;
  display: inline-block;
  animation: arrowMove 1s ease infinite alternate;
}

@keyframes arrowMove {
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}

.logo-footer{
  margin-top: 20px;
}
.logo-footer img {
  width: 150px;
  height: 150px;  
}

/* RESPONSIVE */

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .logo {
        margin: 10px auto;
    }
    .HomeList {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 0vh;
        width: 40vw;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: inline-block;
        text-align: center;
        padding-bottom: 50px;
        border-radius: 5%;
        flex-direction: column;
        justify-content: space-aro;
        align-items: center;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .HomeList li {
        margin-top: 20vh;
    }
    .HomeList li a {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 120px;
        z-index: 1;
    }
    .HomeList-active {
        transform: translateX(0%);
    }
    .content {
        position: relative;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms linear;
    }
    .overlay-active {
        opacity: 1;
        visibility: visible;
    }
    .slogan,
    .slogan-gamer,
    .slogan-sub,
    .slogan2 {
        font-size: 50px;
    }
    .sub-title {
        position: absolute;
        top: 60px;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.2);
    }
}


@media screen and (max-width:700px){
    
    
    .wrapper-slide{
        margin: 0;
        padding: 0;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      
      .slider{
        width: 600px;
        height: 500px;
        
        border-radius: 10px;
        overflow: hidden;
      }
      
      .slides{
        width: 500%;
        height: 500px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 600px;
        height: 600px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
}
@media screen and (max-width:600px){
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 130px;
        z-index: 1;
    }
    .HomeList-active{
      width: 40vh;
    }
    .wrapper-slide{
        margin: 0;
        padding: 0;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .slogan,
    .slogan-gamer,
    .slogan-sub,
    .slogan2 {
        font-size: 40px;
    }
      
      .slider{
        width: 400px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
      }
      
      .slides{
        width: 500%;
        height: 500px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 500px;
        height: 500px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 400px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
      .design , .structure , .frog, .wheel,.base,.pillow,.recline, .warranty{
        padding: 20px;
        
      }
      .grid{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 20px;
        font-family: 'Poppins' , sans-serif;
    }
    
}

@media screen and (max-width:420px){
  .wrapper-slide{
    display: none;
  }
  .burger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
    z-index: 1;
}
.HomeList {
  width: 50vw;

}
.HomeList li {
  margin-top: 12vh;
  
}
.HomeList li a {
  font-size: 14px;
}

}