body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F9F9;
}

header {
    width: 100%;
    height: 100px;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 80px;
    margin-top: 10px;
}

.burger {
    display: none;
}

.burger div {
    background-color: #fff;
    width: 27px;
    height: 5px;
    margin: 5px;
    border-radius: 20%;
}

.HomeList {
    display: flex;
    align-items: center;
}

.HomeList li {
    padding: 0 40px;
}

.HomeList li a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: bold;
    line-height: 40px;
    color: #FDF7FA;
    font-weight: 500;
    transition: color 300ms linear;
}

.HomeList li a::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    left: 0;
    bottom: -8px;
    width: 0%;
    height: 3px;
    border-radius: 5%;
    transition: width 250ms ease-in-out;
}

.HomeList li a:hover::after {
    width: 100%;
}

.HomeList li a:hover {
    color: rgba(27, 38, 59, 0.4);
}


/* SLOGAN */

.slogan {
    color: #D6001C;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 20px;
}

.slogan-sub {
    color: #1D1D1D;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.slogan2 {
    color: #1D1D1D;
    font-weight: 400;
}

.slogan-gamer {
    color: #D6001C;
    font-weight: 900;
}

.image-rhino img {
    background-size: cover;
    width: 100%;
    height: 100%;
}
 

/* SLIDE */
.wrapper-slide{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c31432; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
  
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 5px 22px -4px rgba(0,0,0,0.88);
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 800px;
    height: 800px;
  }
  
 
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: red;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
    
  }
  
  /*  PARTICULARS ANIMATION */
  
  

/* RESPONSIVE */

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .logo {
        margin: 10px auto;
    }
    .HomeList {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 0vh;
        width: 40vw;
        background: #c31432;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: inline-block;
        text-align: center;
        padding-bottom: 50px;
        border-radius: 5%;
        flex-direction: column;
        justify-content: space-aro;
        align-items: center;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .HomeList li {
        margin-top: 20vh;
    }
    .HomeList li a {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 120px;
        z-index: 1;
    }
    .HomeList-active {
        transform: translateX(0%);
    }
    .content {
        position: relative;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms linear;
    }
    .overlay-active {
        opacity: 1;
        visibility: visible;
    }
    .slogan,
    .slogan-gamer,
    .slogan-sub,
    .slogan2 {
        font-size: 50px;
    }
    .sub-title {
        position: absolute;
        top: 60px;
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        background-color: rgba(0, 0, 0, 0.2);
    }
}


@media screen and (max-width:700px){
    
    
    .wrapper-slide{
        margin: 0;
        padding: 0;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      
      .slider{
        width: 600px;
        height: 500px;
        
        border-radius: 10px;
        overflow: hidden;
      }
      
      .slides{
        width: 500%;
        height: 500px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 600px;
        height: 600px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 600px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
}
@media screen and (max-width:600px){
    .burger {
        display: block;
        cursor: pointer;
        margin-right: 100px;
        z-index: 1;
    }
    .wrapper-slide{
        margin: 0;
        padding: 0;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      .slogan,
    .slogan-gamer,
    .slogan-sub,
    .slogan2 {
        font-size: 40px;
    }
      
      .slider{
        width: 400px;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;
      }
      
      .slides{
        width: 500%;
        height: 500px;
        display: flex;
      }
      
      .slides input{
        display: none;
      }
      
      .slide{
        width: 20%;
        transition: 2s;
      }
      
      .slide img{
        width: 500px;
        height: 500px;
      }
      
      /*css for manual slide navigation*/
      
      .navigation-manual{
        position: absolute;
        width: 400px;
        margin-top: -40px;
        display: flex;
        justify-content: center;
      }
      
      .manual-btn{
        
        border: 2px solid red;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
      }
}